/* 100 */

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../css/fonts/Montserrat-Thin.ttf);
}


/* 200 */

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url(../css/fonts/Montserrat-ExtraLight.ttf);
}


/* 300 */

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../css/fonts/Montserrat-Light.ttf);
}


/* 400 */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../css/fonts/Montserrat-Regular.ttf);
}


/* 500 */

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../css/fonts/Montserrat-Medium.ttf);
}


/* 600 */

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../css/fonts/Montserrat-SemiBold.ttf);
}


/* 700 */

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../css/fonts/Montserrat-Bold.ttf);
}


/* 800 */

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../css/fonts/Montserrat-ExtraBold.ttf);
}


/* 900 */

@font-face {
    font-family: 'Montserrat-Black';
    src: url(../css/fonts/Montserrat-Black.ttf);
}